.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-width: 1280px;
    height: 10vh;
    background: #2f332c;
}

.nav {
   background-color: #ffffff;
}

.nav-wrapper{
    margin: 0 auto;
    padding: 0 70px;
    height : 70px;
    display: flex;
    background: #FFF;
    flex-grow: 1;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
}

.logo-container img {
    height: 40px;
}

.mypage {
    height: 40px;
    cursor: pointer;
}
