/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /* overflow-x: hidden; */
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea:focus {
    outline: none;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.03px;
    font-size: 16px;
    font-family: 'NotoSansKR-Regular-4', serif;
    /*background: #e1e1e1;*/
    background: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.inner-container {
    min-width: 1280px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

input {
}

input:focus {
    outline: none;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square,
.square-header {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.square {
    background-color: #6e8efb;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    animation: appear 0.5s ease-out forwards; /* forwards를 추가하여 애니메이션 종료 후 상태 유지 */
}

.square-header {
    background-color: transparent; /* 헤더 배경색 */
    color: black; /* 헤더 글자색 */
    font-weight: bold;
}


@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes moveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.animated {
    animation: moveUpDown 1s infinite;
}


/* custom btn */

.btn {
    height: 2rem;
    padding: .3125rem .75rem;
    font-family: 'NotoSansKR-Medium-5';
    font-size: .8rem;
    line-height: 1.375rem;
    border: 0;
    border-radius: 7px;
    transition: color .12s ease, background-color .12s ease, border-color .12s ease, box-shadow .12s ease;
    cursor: pointer;
}

.btn-primary {
    color: #ffffff;
    background-color: #8eaa6d;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: #718a56;
}

.btn-success {
    color: #ffffff;
    background-color: #4e9c52;
    border-color: transparent;
}

.btn-success:hover {
    background-color: #308b35;
}

.btn-error {
    color: #ffffff;
    background-color: #ad1616;
    border-color: transparent;
}

.btn-error:hover {
    background-color: #8d1414;
}

.btn-wrong {
    color: #ffffff;
    background-color: #353535;
    border-color: transparent;
}


.btn-wrong:hover {
    background-color: #202020;
}

pre {
    background-color: #f6f8fa;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}