.container {
    width: 100%;
    height: 100%;
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.editor-button-container {
    width: 100%;
    text-align: center;
}

.editor-button-container button {
    border: none;
    border-radius: 6px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 1.3rem;
    margin: 4px;
}

.editor-button-container button:hover {
    background: #d3d3d3;
}

.editor {
    display: block;
    width: calc(100% - 32px);
    height: 100%;
    min-height: 220px;
    font-size: 1.2rem;
    text-align: left;
    padding: 15px;
    line-height: 25px;
    resize: none;
}

.run-button-container {
    width: 130px;
    height: 45px;
    background: #5AA773;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
}

.run-button-container p {
    font-family: 'NotoSansKR-SemiBold-6', serif;
    color: #ffffff;
    margin-top: -3px;
}

.run-button-container img {
    margin-left: 5px;
    height: 20px;
    display: block;
    filter: invert(100%);
}

.run-button-container:hover {
    background: #45b96a;
}